* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/graphtaglib/Colorer.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/Detector.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/DetectorWrapper.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/LouvainDetector.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/LouvainMultilevelRefinementDetector.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/LouvainMultilevelRefinementWrapper.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/LouvainWrapper.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/ModularityOptimizer.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/Network.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/SmartLocalMovingDetector.java -text
src/main/java/edu/uiowa/slis/graphtaglib/CommunityDetection/SmartLocalMovingWrapper.java -text
src/main/java/edu/uiowa/slis/graphtaglib/Edge.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgeIterator.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgeLookup.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgePopulator.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgeSource.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgeTarget.java -text
src/main/java/edu/uiowa/slis/graphtaglib/EdgeWeight.java -text
src/main/java/edu/uiowa/slis/graphtaglib/Graph.java -text
src/main/java/edu/uiowa/slis/graphtaglib/GraphColorer.java -text
src/main/java/edu/uiowa/slis/graphtaglib/GraphEdge.java -text
src/main/java/edu/uiowa/slis/graphtaglib/GraphMultiColorer.java -text
src/main/java/edu/uiowa/slis/graphtaglib/GraphNode.java -text
src/main/java/edu/uiowa/slis/graphtaglib/ImplicitEdgeLookup.java -text
src/main/java/edu/uiowa/slis/graphtaglib/Node.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeAuxDouble.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeAuxInt.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeAuxString.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeGroup.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeIterator.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeLabel.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeScore.java -text
src/main/java/edu/uiowa/slis/graphtaglib/NodeUri.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/test/java/edu/uiowa/slis/graphtaglib/README.txt -text
src/test/resources/README.txt -text
